.calculator {
width: 300px;
background: #1e1e1e;
border-radius: 20px;
padding: 20px;
color: white;
box-shadow: 0 5px 15px rgba(0, 0, 0, 3);
}

.display {
    text-align: right;
    font-size: 2em;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

button {
    padding: 20px;
    border: none;
    border-radius: 12px;
    font-size: 1.2em;
    background: #333;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

